.NahorSuggestionsCard-container {
  color: #000;
  background: #ffffff;
  border-radius: 5px;
  margin: 16px 24px 16px 0px;
  padding: 32px 32px;
  height: 450px;
  box-sizing: border-box;
}
.NahorSuggestionsCard-mid {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
.NahorSuggestionsCard-Img {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
}
.NahorSuggestionsCard-Title h3 {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  text-align: right;
  margin-top: 16px;
}
.NahorSuggestionsCard-Duration {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  font-size: 0.7rem;
  text-align: right;
  margin-right: 8px;
}
.NahorSuggestionsCard-TitleBottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.NahorSuggestionsCard-price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: space-between;
}
.NahorSuggestionsCard-sail {
  text-align: center;
  background: #ff9900;
  border-radius: 50px;
  padding: 0 8px;
  height: 20px;
}
.NahorSuggestionsCard-Rial,
.NahorSuggestionsCard-Afghan {
  display: flex;
  justify-content: space-between;
}
.NahorSuggestionsCard-Rial {
  margin-bottom: -24px;
}

@media (max-width: 1800px) {
  .NahorSuggestionsCard-Img {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .NahorSuggestionsCard-Rial p {
    font-size: 0.7rem;
  }
  .NahorSuggestionsCard-Afghan p {
    font-size: 0.7rem;
  }
  .NahorSuggestionsCard-Title h3 {
    font-size: 0.8rem;
  }
  .NahorSuggestionsPriceBox p {
    font-size: 0.8rem;
  }
  .NahorSuggestionsCard-sail {
    padding: 0 8px;
  }
}
