.groupStore-container {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  white-space: nowrap;
}
.groupStore-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}
.groupStore-cards {
  position: relative;
  display: inline-block;
}
.groupStore-cardsImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.groupStore-image {
  position: relative;
 
}
/* black transparent for photo */
.groupStore-image img {
  height: 250px;
  border-radius:7px;
}
.groupStore-image::after{
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0.5;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;  border-radius: 7px;
}
.groupStore-image:hover::after{
  opacity: 1;
}
/* end transparent */
.groupStore-contentImg {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 1;
  color: #fff;
}
.groupStore-contentImg h3 {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
}
.groupStore-text h2 {
  font-size: 1.2rem;
}
.groupStore-text a {
  text-decoration: none;
  color: #fff;
}
.groupStore-arrow {
  width: 24px;
  margin-right: 8px;
}
.groupStore-arrow img {
  margin-top: -6px;
}
@media (max-width: 1600px) {
  .groupStore-text h2 {
    font-size: 1rem;
  }
  .groupStore-arrow {
    width: 16px;
  }
  .groupStore-image img {
    height: 220px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
}
@media (max-width: 1200px) {
  .groupStore-text h2 {
    font-size: 0.8rem;
  }
  .groupStore-arrow {
    width: 16px;
    margin-right: 8px;
  }
  .groupStore-arrow img {
    margin-top: -12px;
  }
  .groupStore-image img {
    height: 150px;
  }
}
@media (max-width: 992px) {
  .groupStore-image img {
    height: 120px;
  }
}
@media (max-width: 768px) {
  .groupStore-main {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  .groupStore-cards {
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    display: inline-block;
    width: 130px;
    flex: 1 0 auto;
  }

  .groupStore-main::-webkit-scrollbar {
    width: 0 !important;
  }
}
