.headerstore-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.headerstore-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(100.6deg, #6b006d 46.46%, #ff9900 124.15%);
  border-radius: 5px;
  color: white;
}
.headerstore-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}
.headerstore-right h1 {
  font-family: IRANSans;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  margin-top: 24px;
}
.headerstore-right p {
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 24px;
  text-align: right;
  margin-top: 16px;
  margin-bottom: 24px;
}
.headerstore-bottom {
  /* display: grid; */
  /* grid-template-columns: 2fr 2fr; */
  margin-top: 24px;
}
@media (max-width: 1200px) {
  .headerstore-right h1 {
    font-size: 1.3rem;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
  .headerstore-right p {
    font-size: 0.7rem;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
}
@media (max-width: 992px) {
  .headerstore-right h1 {
    font-size: 1.1rem;
  }
}
@media (max-width: 768px) {
  .headerstore-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .headerstore-right h1 {
    font-size: 1rem;
    width: 100%;
    margin: 20px auto;
  }
  .headerstore-left img {
    display: none;
  }
  .headerstore-right {
    width: 100%;
  }
  .headerstore-right p {
    display: none;
  }
}
