.ConditionNahor-container {
  display: flex;
  font-weight: 300;
  flex-direction: column;
  width: 65vw;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  padding: 50px 4vw;
  position: relative;
  margin-top: 150px;
}

.ConditionNahor-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ConditionNahor-content {
  font-weight: 300;
  margin-top: 8px;
}
.ConditionNahor-item {
  margin-top: 32px;
}
.ConditionNahor-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ConditionNahor-img h2 {
  margin-top: 16px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -220px;
  left: 0;
  right: 0;
  text-align: center;
}
.ConditionNahor-img img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -150px;
  left: 0;
  right: 0;
  text-align: center;
}
