.headersecond-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headersecond-right {
  width: 65%;
  height:100%;
  /* border: 4px solid black; */
}
.headersecond-left {
  width: 40%;
  margin-right: 16px;
}
.headersecond-leftTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #29ebeb;
  padding:20px 16px;
  margin-bottom: 16px;
  border-radius: 7px;
}


.headersecond-leftTopTitle h3 {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 600;
 
}
.headersecond-leftTopButton button {
  background: #ffd600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 16px 24px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 16px;
  cursor: pointer;
}
.headersecond-leftTopButton button:hover{
  background: #ec0e0e;
  color:#fff;
}
.headersecond-mainCard{
  margin-top:8px;
}
.headersecond-mainCard {
  /* display: block; */
  position: relative;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 10em;
  line-height: 1.5em;
  font-style: normal;
  font-weight: 300;
  text-align: right;
}
.headersecond-mainCard::after {
  content: "...";
  position: absolute;
}
.headersecond-iconscard img{
  background: #ffd600;
  margin:0 8px;
  margin-top: 8px;
  padding: 3px;
  border-radius: 7px;
  cursor: pointer;
  object-fit: contain;
}
@media only screen and (max-width: 1300px) {
  .headersecond-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
.headersecond-right{
  width: 94%;
}
.headersecond-left{
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headersecond-leftTop{

}}