.ButtonComponent {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  outline: none;
  display: flex;
  width: 16%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #6b006d;
  border: none;
  font-size: 0.8rem;
  line-height: 1;
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  min-width: 100px;
  cursor: pointer;
  transition: all 0.3s linear;
  min-width:130px ;
 
}
.ButtonComponent:hover {
  background-color: #ff9900;
  color: #000000;
}
.ButtonComponent-title {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  margin-right: 8px;

}
