.productOfFactor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 4vw;
  position: relative;
}
.ProductOfFactorTitle {
  display: flex;
  padding: 8px 16px;
}
.ProductOfFactorTitle h1 {
  font-size: 1rem;
  margin-left: 8px;
}
.productOfFactor-main {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.productOfFactor-sideNavbar {
  margin-top: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 9%;
  width: 30%;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background: #f8f8f8;
  border-radius: 7px;
  direction: ltr;
  margin-left: 48px;
  bottom: 0;
}
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a7a7a7;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b006d;
}
.ProductOfFactor-body {
  padding: 8px 16px;
}
.ProductOfFactorParagraph p {
  font-size: 0.8rem;
  line-height: 22.5px;
  text-align: justify;
  direction: rtl;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
}
.ProductOfFactorInformation {
  padding-top: 16px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.27);
}
.ProductOfFactorInformation h3 {
  font-size: 1rem;
  direction: rtl;
}

.ProductOfFactorAddress {
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-start;
  direction: rtl;
}
.ProductOfFactorAddress img {
  transform: translateY(-8px);
}
.ProductOfFactorAddress p {
  font-size: 0.8rem;
  margin-right: 16px;
}
.ProductOfFactorPhone {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform: translateY(-4px);
}
.ProductOfFactorPhone p {
  font-size: 0.8rem;
  margin-right: 16px;
}
.ProductOfFactorEmail {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ProductOfFactorEmail p {
  margin-right: 16px;
  font-size: 0.8rem;
}
.ProductOfFactorSocial {
  padding-top: 0px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.27);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.ProductOfFactorSocialTitle {
  margin-top: 8px;
  transform: translateY(3px);
}
.ProductOfFactorSocial h3 {
  font-size: 1rem;
}
.ProductOfFactorSocialImg {
  display: flex;
}
.ProductOfFactorSocialImg img {
  padding-right: 16px;
}
.productOfFactor-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
  /* padding:0 100px; */
  width: 100%;
  margin-top: 16px;
}
.centeralTitleProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 0px;
}
.FactorListImage-containers {
  display: none;
}
@media (max-width: 1600px) {
  .productOfFactor-sideNavbar {
    max-height: 580px;
  }
  .ProductOfFactorTitle h1 {
    font-size: 1rem;
    margin-left: 8px;
  }
  .ProductOfFactorAddress p,
  .ProductOfFactorPhone p,
  .ProductOfFactorEmail p,
  .ProductOfFactorParagraph p {
    font-size: 0.7rem;
  }
  .ProductOfFactorSocial h3,
  .ProductOfFactorInformation h3 {
    font-size: 0.8rem;
  }
}
@media (max-width: 1200px) {
  .productOfFactor-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }
  .productOfFactor-sideNavbar {
    width: 40%;
  }
  .ProductOfFactorTitle h1 {
    font-size: 1rem;
    margin-left: 8px;
  }
  .ProductOfFactorAddress p,
  .ProductOfFactorPhone p,
  .ProductOfFactorEmail p,
  .ProductOfFactorParagraph p {
    font-size: 0.6rem;
  }
  .ProductOfFactorSocial h3,
  .ProductOfFactorInformation h3 {
    font-size: 0.8rem;
  }
}
@media (max-width: 992px) {
  .ProductOfFactorTitle {
    display: none;
  }
  .productOfFactor-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 32px;
    width: 100%;
  }
  .productOfFactor-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .productOfFactor-sideNavbar {
    position: relative;
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
    border-radius: 7px;
    direction: ltr;
  }
  .ProductOfFactorSocial h3,
  .ProductOfFactorInformation h3 {
    font-size: 0.8rem;
  }
  .FactorListImage-containers {
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 42%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }
}
@media (max-width: 786px) {
  .productOfFactor-cards {
    width: 100%;
  }
  .productOfFactor-sideNavbar {
    width: 100%;
  }
}
@media (max-width: 786px) {
}
