.Store-mainContainer {
  max-width: 2000px;
  margin: 0 auto;
}
.Store-firstContainer {
  padding: 0 16vw;
}
.Store-seccondContainer{
  padding: 0 16vw;
  margin-top: 36px;
}

@media (max-width: 768px) {
  .Store-firstContainer {
    padding: 0 4vw;
  }

}
