.profile-container {
  display: flex;
  padding: 2vw 4vw;
  justify-content: space-between;
  margin-top: 40px;
}
.profile-sideBar {
  background: #f8f8f8;
  border-radius: 7px;
  width: 20vw;
  padding: 32px 40px;
  position: sticky;
  top: 10%;
  height: 730px;
}
.profile-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-photo h3 {
  margin-top: 16px;
  font-weight: 600;
}
.profile-photo img {
  object-fit: contain;
}
.profile-sideBarInformationActive {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid #ff9900;
  border-radius: 7px;
}
.profile-sideBarInformation {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  border-top: 1px solid #c4c4c4;
}

.profile-sideBarItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #c4c4c4;
}
.bardiaaa {
  text-decoration: none;
  background-color: white;
  border: 1px solid #ff9900;
  color: black;
}
.barboddd {
  text-decoration: none;
  color: black;
}
