.ShareBlogmain-container {
  margin-top: 16px;
  border-bottom: 2px solid #6b006d;
  padding-bottom: 32px;
}
.ShareBlogmain-container h4 {
  background-color: #e7e7e7;
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: 300 !important;

  font-style: normal;
  font-weight: normal;

  line-height: 160.52%;
  text-align: right;
  margin-top: 16px;
}
.ShareBlogmain-container p {
  margin-top: 32px;

  font-style: normal;
  font-weight: 300;

  line-height: 24px;
  text-align: right;
  color: #000000;
}
.emtehan {
  display: flex;
  align-items: flex-end;
}
.shareBlog-submain-icon img {
  background-color: #6b006d;
  cursor: pointer;
  border-radius: 44%;
  padding: 8px;
  margin: 4px 50px;
}
.shareBlog-submain-icon img:hover {
  background-color: #ff9900;
}
