.Card {
  width: 20.5vw;
  height: 270px;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 10px;
  position: relative;
  min-width: 200px;
  overflow: hidden;
}
.upper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height:70%;
  /* background: url("../../میهن.png"); */
}
.image-container {
  background: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 55.5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lover-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
   padding:40px 20px;
}
.lover-container1 {
  font-weight: 600;
  font-size: 1rem;

  font-family: IRANSans;
  font-style: normal;
  font-weight: 600;
}
.lover-container2  {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;

}
@media (max-width: 1600px) {
  .lover-container1 {

    font-size: 0.8rem;
  

  }
  .lover-container2  {
  
    font-size: 0.8rem;
  
  }
  .image-container {
    background: white;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: absolute;
    top: 55.5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-container img{
    width: 60px;
    height: 40px;
  }
}
