.factorList-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 4vw;
  white-space: nowrap;
}
.factorList-main {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  width: 100%;


}

.factorList-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
  /* padding:0 100px; */
  width: 100%;
  margin-top: 16px;
}
.factorList-sideNavbar {
  /* text-align: right; */
  width: 24%;
  position: -webkit-sticky;
  position: sticky;
  top: 13%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background: #f8f8f8;
  height: 655px;
  border-radius: 7px;
  direction: ltr;
  margin-left: 48px;
  overflow-y: scroll;
  bottom: 0;
  margin-top: 50px;
  /* position: fixed; */
}
.factorListMainTitle {
  background: #ececec;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.factorListMainTitle h2 {
  text-align: right;
}
.factorList-sideNavbar h2 {
  font-size: 1.2rem;
  padding: 16px 24px;
  width: 100%;
}
.factorList-sideNavbar h3 {
  margin-right: 8px;
}
.factorListSideNavbarTitle {
  display: flex;
  align-items: center;
  margin-top: 16px;align-items: center;justify-content: flex-end;
  /* justify-content: flex-end;  */
  padding: 0px 24px;
}

.factorListSideNavbarItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 4px 24px;
}
.factorListSideNavbarItems a {
  text-decoration: none;
}
.hover {
  color: black;
}
.changeHover {
  color: #ff9900;
}
.centeralTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
@media (max-width: 1600px) {
  .factorListSideNavbarTitle h3 {
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
}

@media (max-width: 1300px) {
  .factorList-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;

    width: 100%;
  }
  .factorList-sideNavbar {
    width: 40%;
  }
}
@media (max-width: 900px) {
  .factorList-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 32px;
    width: 100%;
  }
}

@media (max-width: 768px) {
/* .factorList-sideNavbar{
    display: none;
  } */
  .factorList-sideNavbar{
    width: 100%;
    height:400px;
  }
  .factorList-main {
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .centeralTitle{
    margin-top: 32px;
  }
}
  
