.Bestfactor-main {
  margin-top: 96px;
}

.Bestfactor-slick {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Bestfactor-slider {
  width: 70%;
  /* border: 1px solid red !important; */
  padding: 20px;
  min-width: 700px;
}
.Bestfactor-slick h2 {
  color: #6b006d;
  font-family: B Yekan +;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 46px;
  margin-bottom: 72px;
}
.arrow-customize {
  bottom: 40px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: blue;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
