  .nahorJobPositions-container{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
     align-content: space-around;
      margin-top: 50px;
      padding:0 8vw;
  }

.nahorJobPositions-paragraph{
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
}
.nahorJobPositions-title{
  display: flex;
  
}