.Applicationmain {
  background-color: #f5f5f5;
  margin-top:150px;
  scroll-behavior: smooth;
}
.Applicationcontainer {
  display: flex;
  flex-direction: row;
  /* به هیچ عنوان */
  /* margin-right: 224px;
  margin-left: 224px; */
  justify-content: space-around;
  align-items: center;
  padding: 0 130px;
}
.Applicationcontent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 100px;
}
.Application-title{

margin-top:36px

}
.ApplicationParagraph {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 47px;
  text-align: right;
  margin-top: 24px;
}
.ApplicationButton {
  display: flex;
  flex-direction: row;
}
.ApplicationButton1 {
  padding:4px;
  margin-top: 40px;
  margin-bottom:36px;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #6b006d;
  border: none;
  font-size: 0.55em;
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
  min-width: 125px;
  width: 8vw;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-left: 16px;

}
.ApplicationButton1:hover {
  background-color: #ff9900;
  color: #000000;
}
.InnerButton {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.InnerButton2 {
  font-size: 0.8rem;
  font-weight: bold;
}
.InnerButton1 {
  font-size: 0.6rem;
}
.Application-imageMain{
width: 50%;
}
.ApplicationImage1 {
transform: translate(-80px,0px);

}
.ApplicationImage2 {
  transform: translate(100px,0px);

  
  }
@media only screen and (max-width: 600px) {
  .ApplicationButton{
   
   width:100px;
   display: flex;
   flex-direction: column;
   
  }
.ApplicationButton1{
  margin-bottom:0px;

}
.Applicationcontainer{
  display: flex;
  flex-direction: column;
}

}