.registrationNahorContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F5F5;
    padding:0 300px;
    margin-top:120px;
}
.registrationNahorRight{
   width: 100%;
}
.registrationNahorContainer{

}
.registrationNahorRight p{
    font-weight: 300;
}
.registrationNahorRight h3 , p{
    margin-top:16px
}
.registrationNahorRightparagraph{
    font-size:2px
}
.registrationNahorRightTitle{
    margin-top:24px
}
.registrationNahorButton{
    margin-bottom: 24px;
}