.registrationNahorContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F5F5;
    padding:0 300px;
    margin-top:120px;
}
.registrationNahorRight{
   width: 100%;
}
.registrationNahorContainer{

}
.registrationNahorRight p{
    font-weight: 300;
    font-size:0.8rem
}
.registrationNahorRight h3 , p{
    margin-top:16px
}

.registrationNahorRightTitle{
    margin-top:24px
}
.registrationNahorButton{
    margin-bottom: 24px; margin-top:16px
}
.registrationNahor-paragraph p{

    overflow: hidden;
    -webkit-box-orient: vertical;
    text-align:justify
}
.registrationNahorLeft{
    margin-Right:90px; min-Width:300px
}
@media (max-width: 1200px) {
    .registrationNahor-paragraph p{
        font-size:0.7rem;
        
    }
    .registrationNahorContainer{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: #F5F5F5;
        padding:16px;
        margin-top:120px;
      
    }
    .registrationNahorLeft{
        margin-Right:0px; min-Width:150px
    }
  }
  @media (max-width: 986px){
    .registrationNahorLeft{
        margin-Right:0px; min-Width:150px
    }
  } 