.call-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  /* border: 1px solid red; */
  width: 100%;
}

.call-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
}
.call-imgtitle {
  margin-left: 16px;
}
.call-rightimg {
  background-color: #6b006d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:8px;
  margin: 5px;
  width: 40%;
}
.call-rightimg img{
  width: 100%;
}
.call-rightimg:hover {
  background-color: #ff9900;
}
.call-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.call-phoneRightmain {
  width: 100%;
  margin-right: 8px;
}
.call-phoneRight {
  border-bottom: 2px dashed #6b006d;
  font-size: 0.75rem;
  font-weight: bold;
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
  align-items: center;
  
}
.call-phoneRight:hover {
  border-bottom: 2px dashed #ff9900;
  color: #ff9900;
}

.call-rightchild {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.call-left {
  margin-top: 40px;
}
@media (max-width: 580px) {
  .call-left {
   display:none
  }
  .call-right {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}@media (max-width: 480px) {
  .call-phoneRight {
    border-bottom: 2px dashed #6b006d;
    font-size: 0.5rem;
    font-weight: bold;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    align-items: center;
    
  }
}