.BlogmainCard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 36px;
  padding: 8px;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
}
.BlogmainCard-container:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 7px;
}
.BlogmainCard-subNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 16px;
  align-items: center;
  background: rgba(109, 0, 0, 0.07);
  border-radius: 7px;
  width: 100%;
  margin-top: 16px;
  
}
.BlogmainCard-subNav p {
 
  font-weight: 500;
  color: #6b006d;
}
.BlogmainCard-main {
  margin-top: 16px;
}
.BlogmainCard-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 16px;
}
.BlogmainCard-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.BlogmainCard-right2 {
  margin-right: 12px;
  
}
.BlogmainCard-right2:first-child{
 border: 1px solid red;

}
.BlogmainCard-right2 h4{
  margin-top:8px;
  font-size: 0.7rem;
}

.BlogmainCard-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: 100%;
}
.BlogmainCard-left p {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  color: #6b006d;
  cursor: pointer;
  transform: translateY(2px);
  margin-left:4px
}
.BlogmainCard-title {
  font-size: 1.1rem;
  font-weight: 500;
  /* identical to box height */
  text-align: right;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
}
.BlogmainCard-paragraph {
  /* display: block; */
  position: relative;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 20em;
  line-height: 1.5em;
  font-style: normal;
  font-weight: 300;
  text-align: right;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
          line-clamp: 6; 
  -webkit-box-orient: vertical;
}
.BlogmainCard-paragraph::after {
  content: "...";
  position: absolute;
}
@media (max-width: 1600px) {
  .BlogmainCard-title {
      font-size:1rem;
      transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
    } 
}