.navbarSmall-container {
  background: linear-gradient(
    91.49deg,
    #6b006d 38.27%,
    #ff9900 181.4%,
    #f69007 181.4%

  );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 80px;
  font-family: IRANSans;
  font-weight: 300;
  font-size: 1rem;
  white-space: nowrap;
}
.navbarSmall-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin: auto 0;
}
.navbarSmall-main li {
  padding: 0px 20px;
}
.navbarSmall-main li a {
  color: #fff;
  text-decoration: none;
}
.navbarSmallEnglish {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  cursor: pointer;
}
@media(max-width: 786px) {
.NavbarItems{
  display: none;
  
}
}
