.shareBlog-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}
.shareBlog-container-icons {
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  right: 22%;
margin-top:100px
}
.shareBlog-container-icons img {
  background: #ececec;
  border-radius: 50px;
  margin-top:24px;
  padding:0 12px;
 text-align: center;
}
/* .ShareBlog-main1{
    display: flex;
    padding-right: 29vw;
} */
.shareBlog-container-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}