.header-link {
  min-height: 800px;
}
.HeaderContainer {
  position: relative;

  /* overflow: hidden; */
  min-height: 840px;
  color: #fff;
  font-size: 16px;
  background: url("../../../nahoorHomePage/BG (2).png") center center/cover
    no-repeat;
}
.HeaderContainer {
  padding-right: 30px;
}
.HeaderItems {
  display: flex;
  flex-direction: column;
}
.HeaderMain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.HeaderNav {
}
.HeaderMainTitle {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
}
.HeaderMainTitle2 {
  margin-top: 30px;
  line-height: 24px;
  /* identical to box height */
}
.HeaderMainExplain {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 24px;
  text-align: right;
  margin-top: 30px;
  text-align: justify;
}
.HeaderMainRight {
  width: 50%;
  min-width: 250px;
}
.HeaderMainLeft {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  object-fit: contain;
}
.HeaderMainLeft1 {
  width: 210px;
  height: auto;
  transform: translate(-70px, 0px);
}

.HeaderMainLeft2 {
  width: 210px;
  height: auto;
  transform: translate(150px, 100px);
}
.button {
  margin-top: 40px;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: none;
  border: 1px solid #fff;
  font-size: 1em;
  line-height: 1;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  height: 50px;
  min-width: 100px;
  width: 219px;
  cursor: pointer;
  margin-bottom: 88px;
  transition: all 0.3s linear;
}
.button:hover {
  background-color: #ff9900;
  color: #000000;
  border: none;
}
.header-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.header-bottombuttonimg {
  position: absolute;
  bottom: -7.5px;
}
.header-bottombutton {
  position: absolute;
  bottom: 50px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: linear-gradient(165.01deg, #6b006d 10.56%, #ff9900 168.42%);
  box-shadow: 0px 4px 25px rgba(107, 0, 109, 0.6);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.material-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
@media (max-width: 1600px) {
  .HeaderContainer {
    min-height: 700px;
  }
  .header-bottombutton {
    bottom: 120px;
  }
}

@media (max-width: 1200px) {
  .HeaderMainExplain {
    font-size: 0.7rem;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
  }
}
@media (max-width: 992px) {
  .HeaderContainer {
    padding-right: 0px;
  }
  .HeaderContainer {
    position: relative;

    /* overflow: hidden; */
    min-height: 840px;
    color: #fff;
    font-size: 16px;
    background: url("../../../nahoorHomePage/header.png") center center/cover
      no-repeat;
  }
  .HeaderContainer {
    height: 700px;
  }
  .HeaderMain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }
  .HeaderMainRight {
    width: 100%;
    padding: 16px;
  }
  .HeaderMainLeft {
    margin-top: 80px;
  }
  .HeaderMainLeft1 {
    width: 180px;
    height: auto;
    transform: translate(-23vw, -100px);
  }

  .HeaderMainLeft2 {
    width: 180px;
    height: auto;
    transform: translate(-18vw, -180px);
  }
  .header-link {
    min-height: 800px;
  }
  .header-bottombutton {
    display: none;
  }
}
@media (max-width: 768px) {
  .HeaderMainLeft1 {
    width: 150px;
    height: auto;
    transform: translate(-23vw, -120px);
  }

  .HeaderMainLeft2 {
    width: 150px;
    height: auto;
    transform: translate(-15vw, -240px);
  }
}

@media (max-width: 600px) {
  .HeaderMainLeft1 {
    width: 150px;
    height: auto;
    transform: translate(-23vw, -120px);
  }

  .HeaderMainLeft2 {
    width: 150px;
    height: auto;
    transform: translate(-3vw, -240px);
  }
}
@media (max-width: 500px) {
  .HeaderContainer {
    min-height: 600px;
  }
  .HeaderMainExplain {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10; /* number of lines to show */
    line-clamp: 10;
    -webkit-box-orient: vertical;
  }
  .HeaderMainLeft {
  }
  .HeaderMainLeft1 {
    width: 100px;
    height: auto;
    transform: translate(-23vw, -130px);
  }

  .HeaderMainLeft2 {
    width: 100px;
    height: auto;
    transform: translate(-12vw, -260px);
  }
  .button {
    width: 150px;
  }
}
