.navbar {
  margin-top: 40px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* padding: 0 36px; */
}
.NavbarLogo {
  transform: translateY(-4px);
  cursor: pointer;
}
.navbarMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-right: 30px;
}
.NavbarItems {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 24px;
}
.NavbarItem {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
}
.NavbarItem::after,
.navbarEnglish:after {
  content: "";
  height: 2px;
  background: #fbffff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -9px;
  /* opacity:0; */
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transform: scaleX(0);
}
/* #NavbarItem1::after {
  transform: scaleX(1);
} */
.navbarEnglish {
  color: #ffffff;
  margin-left: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-7px);
  cursor: pointer;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
}
.NavbarItem:hover::after,
.navbarEnglish:hover::after {
  transform: scaleX(1);
}
.NavbarItem:hover {
  color: #fff;
}
@media (max-width: 1600px) {
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .navbar {
    justify-content: center;
  }
  .navbarMenu {
    /* اینو جواست باشه نخواستی حذف کن */
    padding-right: 20px;
  }
  .NavbarItems {
    display: none;
  }
}
@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
