.navbar {
  margin-top: 20px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  position: relative;
}
.material-icons {
  cursor: pointer;
}
.NavbarLogo {
  transform: translateX(-5px);
  cursor: pointer;
}
.navbarMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-right: 30px;
}

.navbarMenu2 {
  clip-path: circle(-50px at 90% -10%);
  -webkit-clip-path: circle(-50px at 90% -10%);
  -moz-clip-path: circle(50px at 90% -10%);
  -o-clip-path: circle(50px at 90% -10%);
}

.navbar-hamburger {
  z-index: 10000;
  cursor: pointer;
  position: absolute;
  left: 6%;
 
}
.NavbarItemss {
  display: flex;
  flex-direction: row;
  margin-right: 32px;
}
.NavbarItems {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 24px;
}
.NavbarItem {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
}
.NavbarItem::after,
.navbarEnglish:after {
  content: "";
  height: 2px;
  background: #fbffff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -9px;
  /* opacity:0; */
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transform: scaleX(0);
}
/* #NavbarItem1::after {
  transform: scaleX(1);
} */
.navbarEnglish {
  color: #ffffff;
  margin-left: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-7px);
  cursor: pointer;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
}
.NavbarItem:hover::after,
.navbarEnglish:hover::after {
  transform: scaleX(1);
}
.NavbarItem:hover {
  color: #fff;
}
@media (max-width: 1600px) {
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .navbar {
    justify-content: center;
  }
  .navbar-hamburger {
    z-index: 10000;
    cursor: pointer;
    position: absolute;
    left:3%;
   
  }
  .NavbarItemss {
    height: 100vh;
    flex-direction: column;
    z-index: 100;
    padding: 0 0px;
    align-items: center;
    justify-content: space-evenly;
  }
  .navbarMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-right: 0px;
    width: 100%;
  }

  .navbarMenuClose {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 102;
    display: flex;
    background: #ff9900;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-right: 0px;
    flex: 1;
    /* display:none; */
    clip-path: circle(0px at 0% 0%);
    -webkit-clip-path: circle(0px at 0% 0%);
    -moz-clip-path: circle(0px at 0% -10%);
    -o-clip-path: circle(0px at 0% -10%);
    transition: all 1s ease-in-out;
  }

  .navbarMenuOpen {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 102;
    display: flex;
    background: orange;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-right: 0px;
    flex: 1;
    /* display: none; */
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    -moz-clip-path: circle(1500px at 90% -10%);
    -o-clip-path: circle(1500px at 90% -10%);
    transition: all 1s ease-in-out;
  }

  .NavbarLogo {
    z-index: 1000;
  }

  .navbar-line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transform: translateX(-16px);
    border-radius: 50px;
  }
}
@media (max-width: 768px) {

}

@media (max-width: 480px) {
  .navbar-hamburger {
    z-index: 10000;
    cursor: pointer;
    position: absolute;
    left:6%;
   
  }
}
