.feacherOfNahor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feacherOfCart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 107px;
}

.text {
  margin-top: 162px;
  font-size: 3em;
  color: #6b006d;
  font-weight: bold;
}
