.shareBlog-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.shareBlog-content-main-right {
  display: flex;
  flex-direction: row;
}
.shareBlog-content-main-left img {
  background-color: #6b006d;
  cursor: pointer;
  border-radius: 44%;
  padding: 6px;
  margin: 0 4px;
}
.shareBlog-content-main-left img:hover {
  background-color: #ff9900;
}
.shareBlog-content-right,
.shareBlog-content-mid,
.shareBlog-content-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.shareBlog-content-name {
  font-weight: bold !important;
}
.shareBlog-content-main-right p {
  padding-right: 8px;
  font-weight: 300;
}

.shareBlog-content-left {
  margin-right: 16px;
}

.shareBlog-main h2 {
  font-weight: 600;
  text-align: right;
}
