.step0-container {
  background: #6b006d;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.step0-main {
  background: #ffffff;
  border-radius: 7px;
  width: 26vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.step0-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.step0-title {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  
}
.step0-title h1 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: IRANSans;
}
.step0-phone {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}
.step0-box input {
  width: 100%;
  border: 1px solid #aeb8bd;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 8px;
}
.step0-btn{
  width: 100%;
  background: #6b006d;
  border-radius: 50px;
  color: #ffffff;
  padding: 8px;
  margin-top: 16px;
}
.step0-logo {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.step0-box p {
  color: #808080;
  font-weight: 300;
  font-size: 0.8rem;
}
.step0-facebook {
  background: #3b5998;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.step0-twitter {
  background: #1da1f2;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.step0-google {
  background: #c71610;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step0-item{
  width: 100%;
}