.step0-container {
  background: #6b006d;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.step0-main {
  background: #ffffff;
  border-radius: 7px;
  width: 35vw;
  min-width: 500px;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.step0-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.step0-title {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.step0-title h1 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: IRANSans;
}
.step0-phone {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}
.step0-box input {
  width: 100%;
  border: 1px solid #aeb8bd;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 8px;
}
.step0-btn {
  width: 100%;
  background: #6b006d;
  border-radius: 50px;
  color: #ffffff;
  padding: 8px;
  margin-top: 16px;
}
.step0-logo {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.step0-box p {
  color: #808080;
  font-weight: 300;
  font-size: 0.8rem;
}
.step0-facebook {
  background: #3b5998;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.step0-twitter {
  background: #1da1f2;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.step0-google {
  background: #c71610;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step0-item {
  width: 100%;
}

@media (max-width: 1600px) {
}

@media (max-width: 1200px) {
  .step0-topImg {
    width: 30%;
  }
}
@media (max-width: 992px) {
  .step0-main h1 {
    font-size: 1rem;
  }
  .step0-main p {
    font-size: 0.6rem;
  }
}
@media (max-width: 768px) {
  .step0-main {
    min-width: 400px;
  }

  .step0-main h1 {
    font-size: 1rem;
  }
  .step0-main p {
    font-size: 0.6rem;
  }
  .step0-topImg {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .step0-main {
    min-width: 300px;
  }
  .step0-topImg {
    width: 60%;
  }

  /* .step0-container{

    padding: 0 16px;
  }
  .step0-main {
    width: 400px;
 
  
  }
  .step0-box input {
    width: 100%;

  }
  .step0-btn{
    width: 100%;
 
  } */
  .step0-main h1 {
    font-size: 1rem;
  }
  .step0-main p {
    font-size: 0.6rem;
  }
  .step0-topImg {
  }
}
