.products-Container {
  padding: 0 6vw;
}
.products-main {
  display: flex;
  flex-direction: column;
}
.products-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.products-mid {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.products-mid h1 {
  font-family: IRANSans;
  font-size: 1.2rem;
  text-align: right;
  font-weight: 600;
}
.products-line {
  border-top: 2px solid #6b006d;
  width: 100%;
  margin-top: 24px;
}
.product-subTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin-top:16px */
}
.products-circle {
  background: #6b006d;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: -24px;
  margin-left: 8px;
}

.products-details {
  padding: 24px 24px 0 16px;
}
.products-left {
  width: 33%;
}
.products-right {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 330px;
}
.products-right-topImg {
  background: #fff3ff;
  width: 100%;
  padding: 50px;
  border-radius: 7px;
}
.products-right-topImg img {
  width: 100%;
}
.products-right-bottomImg {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 8px;
  width: 80%;
  margin-top: 20px;
}
.products-left-bottomImg {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 16px;
  width: 80%;
  margin-top: 8px;
}
.products-right-bottomImg img:first-child,
.products-right-bottomImg img:last-child {
  background: #fff3ff;
  border: 1px solid rgba(107, 0, 109, 0.07);
  cursor: pointer;
  border-radius: 5px;
  border-radius: 7px;
  padding:12px;
  margin-left: 16px;
  margin-top: 8px;
}
.products-left-bottomImg img:first-child,
.products-left-bottomImg img:last-child {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  border-radius: 7px;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;
}

.products-comment {
  transform: translateY(18px);
}
.products-details {
  width: 100%;
}
.products-count,
.products-Weight,
.products-prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;

  width: 100%;
}
.products-prices {
  background: #fff3ff;
  border: 0.5px dashed #6b006d;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 4px 8px;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-price:first-child {
}
.products-left-top,
.products-left-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f8f8f8;
  border-radius: 7px;
  padding: 42px;
  margin-top: 24px;
}
.products-left-top h2 {
  font-size: 1rem;
  font-weight: bold;
}
.products-left-bottom h2 {
  font-size: 1rem;
  font-weight: bold;
}

.products-seeCart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #1fbfbf;
  cursor: pointer;
  margin-top: -32px;
}
.products-post {
  display: flex;

  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.products-post p:nth-child(2) {
  /* margin-left: -80px; */
}
.products-post p {
  font-size: 0.8rem;
}
.products-numberBox {
  background: #f7f7f7;
  border: 1px solid #6b006d;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(107, 0, 109, 0.07);
  border-radius: 5px;
  /* width: 100%; */
  height: 30px;
  margin: auto 0;
  font-size: 0.8rem;
  font-size: IRANSans;
}
select option:first-child {
  color: red !important;
}

.products-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
.products-btn button:first-child {
  background: #6b006d;
  border-radius: 5px;
  border: 1px solid #6b006d;
  width: 100%;
  color: #fff;
  padding: 4px 0;
}
.products-btn button p {
  font-size: 0.8rem;
  text-align: center;
}
.products-btn button:first-child:hover,
.buttons-right button:nth-child(2):hover {
  background: #ff9900;
  border: 1px solid #ff9900;
  border-radius: 5px;
  width: 100%;
  color: #000;
}
.products-call:hover {
  background: #fff;
}
.products-btn button:last-child {
  background: #ffffff;
  border: 1px solid #6b006d;
  margin-right: 32px;
  border-radius: 5px;
  color: #6b006d;
  width: 100%;
}
.products-btn button {
  margin-top: 16px;
  padding: 4px 0px;
}
.products-Container p,
.products-Container span {
  padding: 0;
  margin: 0;
}
.line2 {
  border-bottom: 1px solid rgba(129, 129, 129, 0.61);

  margin: 48px 32px 0px;
}
.products-bottom {
  display: flex;
  direction: ltr;
  margin-right: 6vw;
}
.products-bottom {
  width: 92%;
  min-width: 1500px;
}
.products-card {
  display: flex;
  flex-direction: column;
  /* border-left: 1px solid red; */
  /* align-items: center;
  justify-content: center; */
}
.products-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 0;
}
.buttons-right {
  display: flex;
}
.buttons-right button:first-child {
  background: #d10410;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 4px 16px;
}
.buttons-right button:nth-child(2) {
  background: #6b006d;
  border-radius: 5px;
  color: #fff;
  margin-right: 16px;
  padding: 0 32px;
}
.product-changeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 5s;
}
.product-changeBox div:first-child {
  background: rgba(107, 0, 109, 0.16);
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.product-changeBox p {
  color: #6b006d;
}
.product-changeBox button:first-child {
  background-color: red;
}
.btn-continue {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 24px;
  padding: 3px 70px;
}
.btn-viewCart {
  border: none;
  background: #6b006d;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  padding: 4px 48px;
  color: #fff;
}
.btn-viewCart p {
  color: #fff;
}
.btn-viewCart:hover {
  background: #ff9900;
  color: #000;
  border-radius: 5px;
}
.products-card {
  border: 1px solid red;
  margin-top: 16px;
}
.buttons-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media only screen and (max-width: 1200px) {
  .products-right-topImg img {
    width: 150px;
  }
  .products-right-topImg {
    background: #fff3ff;
    width: 100%;
    padding: 50px;
    border-radius: 7px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .products-right-bottomImg {


    width: 50%;
  
  }
  .products-right {
    width: 100%;
    min-width: 330px;
  }
  .products-Container {
    padding: 0 17vw;
  }
  .products-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .products-mid {
    width: 100%;
  }
  .products-left {
    width: 100%;
  }
}

@media only screen and (max-width: 782px) {
  .products-Container {
    padding: 0 4vw;
  }
  .products-right-topImg img {
    width: 150px;
  }
  .products-right-topImg {
    height: 250px;
  }
  .products-left-top,
  .products-left-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f8f8f8;
    border-radius: 7px;
    padding: 16px;
    margin-top: 24px;
  }
}
@media only screen and (max-width: 482px) {
  .products-Container {
    padding: 0 4vw;
  }
  .products-left-top,
  .products-left-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f8f8f8;
    border-radius: 7px;
    padding: 16px;
    margin-top: 24px;
  }
}
