@import url("/src/assets/fonts/fontiran.css");
body {
  margin: 0;
  font-family: BYekan,'BYekan',tahoma Iran-Sans -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:IRANSans, Iran-Sans, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family:'IRANSans_LFN';
  font-style: normal;
  font-weight: 300;
  src: url('/src/assets/fonts/Iran-Sans.ttf');
}

/* فایل اصلی «سی اس اس» که در وب سایت خود استفاده می کنید */
 
 /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
 
body {
    font-family: IRANSans;
    font-weight: 300;
}
 
/* سایر دستورات وب سایت */
/* ... */