.NahorSuggestions-container {
  background: #6b006d;
  color: #ffffff;
  margin-top: 40px;
  height:auto;
  
}
.NahorSuggestions-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16vw;
}
.NahorSuggestions-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  padding: 16px 0px;
  text-align: center;
}
.NahorSuggestions-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}
.NahorSuggestions-titlefirst {
  font-family: IRAN Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 21px;
  display: inline-block;
  -webkit-transform: scale(1.5, 1); /* Safari and Chrome */
  -moz-transform: scale(1.5, 1);
  -ms-transform: scale(1.5, 1);
  -o-transform: scale(1.5, 1);
  transform: scale(1.5, 1);
  /* or 59% */
  /* display: flex;
  align-items: center;
  text-align: center; */
}
.NahorSuggestions-titlesecond {
  display: inline-block;
  -webkit-transform: scale(2, 2);
  font-size: 2rem;
  /* Safari and Chrome */
  /* -moz-transform:scale(2,1.5);
  -ms-transform:scale(2,1.5);
  -o-transform:scale(2,1.5);
  transform:scale(2,1.5); */
}
.NahorSuggestions-paragraph {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NahorSuggestions-paragraph a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NahorSuggestions-left {
  width: 80%;
  padding: 16px 0px;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  /* width: 86px;
  height: 104px; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.slick-arrow.slick-prev {
  padding: 46px;
}
.slick-arrow.slick-next {
  padding: 24px;
}
.slick-prev {
  left: 0;
  /* transform: rotate(180deg); */
}
.slick-next {
  right: 0;
}
.slick-prev::before,
.slick-next::before {
  display: none;
}

@media (max-width: 768px) {
  .NahorSuggestions-right{
    width: 100%;
    padding: 16px 0px;
  }
  .NahorSuggestions-main {
    padding: 0 4vw;
  }
  .NahorSuggestions-left {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .NahorSuggestions-right{
    width: 100%;
    padding: 0px;
  }
  .NahorSuggestions-main {
    padding: 0 4vw;
  }

  .NahorSuggestions-left {
    width: 70%;
    padding: 0px ;
  }
}