.NahorSuggestions-container {
  background: #6b006d;
  color: #ffffff;
  margin-top:-60px;

}
.NahorSuggestions-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}
.NahorSuggestions-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  justify-items: center;
  text-align: center;
}
.NahorSuggestions-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}
.NahorSuggestions-titlefirst {
  font-family: IRAN Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 21px;
  display:inline-block;
    -webkit-transform:scale(1.5,1); /* Safari and Chrome */
    -moz-transform:scale(1.5,1);
    -ms-transform:scale(1.5,1);
    -o-transform:scale(1.5,1);
    transform:scale(1.5,1);
  /* or 59% */
  /* display: flex;
  align-items: center;
  text-align: center; */
}
.NahorSuggestions-titlesecond{
  display:inline-block;
  -webkit-transform:scale(2,2);
  font-size:2rem ;
   /* Safari and Chrome */
  /* -moz-transform:scale(2,1.5);
  -ms-transform:scale(2,1.5);
  -o-transform:scale(2,1.5);
  transform:scale(2,1.5); */
}
.NahorSuggestions-paragraph {
    margin-bottom: 40px;
}
